<li class="message
  <% if !message.message_read? %>unread
  <% end %>" id="message-<%= message.id %>">
  <div class="inner row">
    <div class="large-3 small-3 columns">
      <%= gravatar_for message.sender, size: 50 %>
    </div>
    <div class="large-9 small-9 columns">

      <div class="user-name"><%= message.sender.full_name %></div>
      <% if message.subject %>
          <div class="subject">
            <%= truncate(message.subject, :length => 20, :separator => ' ') %>
          </div>
      <% else %>
          <div class="content"><%= truncate(message.body, :length => 20, :separator => ' ') %></div>
      <% end %>

      <span class="timestamp"><%= time_ago_in_words(message.created_at) %> fa</span>
      <% if !message.message_read? %>
          <span class="round alert label new-label">nuovo</span>
      <% end %>
    </div>
  </div>
  <%= link_to(message.id, message, :class => 'openMessage') %>

</li>