<%= form_for(@user) do |f| %>

    <div class="row collapse">
      <div class="columns large-2">
        <%= f.text_field :honorific, :placeholder => "honorific" %>
      </div>
      <div class="columns large-5">
        <%= f.text_field :name, :placeholder => "Nome", :required => 'required' %>
      </div>
      <div class="columns large-5">
        <%= f.text_field :surname, :placeholder => "Cognome", :required => 'required' %>
      </div>
    </div>
    <div class="row">
      <div class="columns large-12">

        <%= f.email_field :email, :placeholder => "Email", :required => 'required' %>

      </div>
    </div>
    <div class="row">
      <div class="columns large-12">
        <%= f.password_field :password, :placeholder => "Password (minimo 6 caratteri)", :required => 'required', :pattern => '.{6,}' %>
      </div>
    </div>
    <div class="row">
      <div class="columns large-12">

        <%= f.password_field :password_confirmation, :placeholder => "Conferma password", :required => 'required', :pattern => '.{6,}' %>
      </div>
    </div>
    <div class="row">
      <div class="columns large-12">

        <%= f.submit "Registrati", :class => 'button small' %>
      </div>
    </div>
<% end %>