<li class="user row">
  <div class="gravatar-cont"> <%= gravatar_for user, size: 50 %> </div>
  <%= link_to "#{user.honorific} #{user.name} #{user.surname}", user, class: 'user-name' %>

  <div class="informations">
    <% if current_user.admin? && !current_user?(user) %>
        <% # since browsers cannot send DELETE request, Rails fakes them with javascript...   %>
        | <%= link_to 'delete', user, method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>

    <% friends = user.friends_in_common_with(current_user) %>
    <div class="additional-info">
      <% if friends.count > 0 %>
        <span class="follow-info">seguito da <%= link_to friends.first.full_name, friends.first %>
          <% if friends.count > 1 %> e altri<% end %></span>
      <% end %>
    </div>
  </div>

  <%= render :partial => 'users/follow_form', :object => user %>
</li>