<% #Provide the page title in a symbol to application.html.erb to avoid duplication        %>
<% provide :title, 'Aggiorna profilo' %>


<div class="row relative">

  <div class="columns large-4">
    <h2 class="motto">Aggiorna il tuo profilo</h2>
  </div>

  <div class="columns large-8">
    <div class="panel">
      <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <div class="row collapse">
            <div class="columns large-2">
              <%= f.text_field :honorific, :placeholder => "honorific" %>
            </div>
            <div class="columns large-5">
              <%= f.text_field :name, :placeholder => "Nome", :required => 'required' %>
            </div>
            <div class="columns large-5">
              <%= f.text_field :surname, :placeholder => "Cognome", :required => 'required' %>
            </div>
          </div>

          <div class="row">
            <div class="columns large-12">
              <%= f.email_field :email, :placeholder => "Email", :required => 'required' %>
            </div>
          </div>

          <div class="row">
            <div class="columns large-12">
              <%= f.password_field :password, :placeholder => "Password (minimo 6 caratteri)", :required => 'required', :pattern => '.{6,}' %>
            </div>
          </div>

          <div class="row">
            <div class="columns large-12">
              <%= f.password_field :password_confirmation, :placeholder => "Conferma password", :required => 'required', :pattern => '.{6,}' %>
            </div>
          </div>


          <div class="row collapse">
            <div class="columns large-1">
              <%= gravatar_for @user %>
            </div>
            <div class="columns large-11">
              <%= button_to 'Modifica foto', "http://gravatar.com/emails", class: 'small button' %>
            </div>
          </div>

          <div class="row">
            <div class="columns large-12">
              <%= f.submit "Salva modifiche", :class => 'button small' %>
      <% end %>
      </div>
      </div>

    </div>
  </div>
</div>


