<section class="profile">
  <div class="row">
    <div class="large-2 small-3 columns"><%= gravatar_for @user %></div>
    <div class="large-9 columns">
      <h2><span><%= @user.honorific %></span> <%= @user.name %> <%= @user.surname %></h2>
      <ul class="main-info no-bullet">
        <li>
          <% unless @user.role.nil? %>
              <%= @user.role %>
              <% unless @user.placeForRole.nil? %>
                  presso <%= @user.placeForRole %>
              <% end %>
          <% end %>
          <% unless @user.role.nil? || @user.diocese.nil? %>
              <span class="separator">-</span>
          <% end %>
          <% unless @user.diocese.nil? %>
              Diocesi di <%= @user.diocese %>
          <% end %>
        </li>
        <% unless @user.study.nil? %>
            <li>Ha studiato presso <%= @user.study %></li>
        <% end %>
        <li>
          <% unless @user.birth.nil? %>
              Anni <%= Time.now.year - @user.birth.year %>
          <% end %>
          <% unless @user.birth.nil? || @user.orderDay.nil? %>
              <span class="separator">-</span>
          <% end %>
          <% unless @user.orderDay.nil? %>
              Sacerdote da <%= time_ago_in_words(@user.orderDay) %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</section>
