<section class="profile">
  <div class="row main-info">
    <div class="large-12 columns">
      <div class="panel clearfix">
        <div class="image"><%= gravatar_for @user, size: 100 %></div>
        <h3><%= @user.full_name %></h3>
        <ul class="no-bullet">
          <li>
            <% if @user.role %>
                <%= @user.role %>
                <% if @user.placeForRole %>
                    presso <%= @user.placeForRole %>
                <% end %>
            <% end %>
            <% if @user.role && @user.diocese %>
                <span class="separator">-</span>
            <% end %>
            <% if @user.diocese %>
                Diocesi di <%= @user.diocese %>
            <% end %>
          </li>
          <% if @user.study %>
              <li>Ha studiato presso <%= @user.study %></li>
          <% end %>
          <li>
            <% if @user.birth %>
                Anni <%= Time.now.year - @user.birth.year %>
            <% end %>
            <% if @user.birth && @user.orderDay %>
                <span class="separator">-</span>
            <% end %>
            <% if @user.orderDay %>
                Sacerdote da <%= time_ago_in_words(@user.orderDay) %>
            <% end %>
          </li>
          <li class="right">
            <div class="buttons-container">
              <% if signed_in? && current_user != @user %>
                  <section>
                    <%= link_to 'New message', new_message_path(user: @user.id), role: 'button', class: 'btn btn-info', remote: true %>
                    <div class="new-message"></div>
                  </section>
              <% end %>

              <%= render :partial => 'follow_form', :object => @user if signed_in? %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-5 push-7 columns">
      <div class="panel">
        <%= render 'shared/stats_full' %>
      </div>


      <div class="panel">
        <%= render 'users/sermon_stats' %>
      </div>
    </div>
    <% #TODO aggiungere mieomelie   %>
    <div class="large-7 pull-5 columns">
      <div class="panel">

        <% if current_user?(@user) %>
            <%= render 'shared/post_form' %>
        <% end %>


        <% if @user.posts.any? %>
            <div id="post_section">
            <ul class="posts no-bullet">
              <%= render @posts %>
            </ul>
            <% # since we are in a Users view, we need to specify that the pagination is for the posts                       %>
            <%= foundation_paginate @posts %>
            </div>
            <script>

                $(document).ready(function () {

                    //workaround per bug di foundation paginate
//        che non setta il parametro page corretto
                    var $cont = $('#post_section');
                    var currentPage = $('.pagination .current a', $cont).text();
                    var page;
                    $('.pagination a', $cont).each(function () {
                        if ($(this).hasClass('unavailable')) {
                            return;
                        }

                        if ($(this).is('.previous_page a')) {
                            page = currentPage - 1;
                        } else if ($(this).is('.next_page a')) {
                            page = currentPage * 1 + 1;
                        } else {
                            page = $(this).text();
                        }

                        var href = $(this).attr('href');

                        if (href.indexOf("post_page=") >= 0) {
                            href = href.replace(/post_page=\d+/, "post_page=" + page);
                        } else {
                            href = href + '&post_page=' + page;
                        }



                        $(this).attr('href', href);
                    });

                });
            </script>


        <% else %>
            <p class="no-post">
              <% if current_user?(@user) %>
                  Non hai ancora pubblicato nulla: cosa aspetti?
              <% else %>
                  Questo utente non ha pubblicato nulla.
              <% end %>
            </p>
        <% end %>
      </div>
    </div>
  </div>

  <!--popup following-->
  <% @user = current_user %>
  <div id="fd_modal" class="reveal-modal medium f_modal">
    <h2>Sta seguendo</h2>
    <% if @user.followed_users.count > 0 && !@user.followed_users.count.nil? %>
        <div id="followed_popup">
          <%= render 'followed_popup' %>
        </div>
    <% else %>
        <h4> non segue ancora nessuno</h4>
    <% end %>
    <a class="close-reveal-modal">&#215;</a>
  </div>

  <!--popup followers-->
  <div id="fw_modal" class="reveal-modal medium f_modal">
    <h2>È seguito da</h2>
    <% if @user.followers.count > 0 && !@user.followers.count.nil? %>
        <div id="followers_popup">
          <%= render 'followers_popup' %>
        </div>
    <% else %>
        <h4> non è seguito ancora da nessuno</h4>
    <% end %>
    <a class="close-reveal-modal">&#215;</a>
  </div>

</section>


