<% # we are going to use this partial in the home and in the user profile;
   # in the home @user is nil and needs to be filled       %>
<% @user ||= current_user %>
<div class="stats row" xmlns="http://www.w3.org/1999/html">

  <% fdHref = "href=#{following_user_path(@user)}" if @user.followed_users.count > 0 %>
  <a <%= fdHref %> class="large-4 small-4 columns">
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    utenti seguiti
  </a>

  <% fwHref = "href=#{followers_user_path(@user)}" if @user.followers.count >0 %>
  <a <%= fwHref %> class="large-4 small-4 columns">
    <strong id="followers_of_<%= @user.id %>" class="stat">
      <%= @user.followers.count %>
    </strong>
    utenti che mi seguono
  </a>

  <span class="large-3 large-offset-1 small-4 columns left-border">
    <strong><%= current_user.sermons.count %></strong>
    omelie pubblicate</span>
</div>