<% # we are going to use this partial in the home and in the user profile;
   # in the home @user is nil and needs to be filled           %>
<% @user ||= current_user %>
<div class="stats row" xmlns="http://www.w3.org/1999/html">


  <a href="#" data-reveal-id="fd_modal" class="large-4 small-4 columns">
      <span>
          <strong id="following">
            <%= @user.followed_users.count %>
          </strong>
    utenti seguiti
      </span>

  </a>


  <a href="#" data-reveal-id="fw_modal" class="large-4 small-4 columns">
      <span>
          <strong id="followers_of_<%= @user.id %>">
            <%= @user.followers.count %>
          </strong>
    utenti che mi seguono
      </span>

  </a>


  <a href="<%= sermons_user_path(@user.id) if @user.sermons.count >0 %>" class="large-3 large-offset-1 small-4 columns
  left-border">
    <strong><%= @user.sermons.count %></strong>
    omelie pubblicate</a>
</div>