<div class="panel user-info">
  <a href="<%= user_path(current_user) %>" class="row">

    <div class="gravatar-cont">
      <%= gravatar_for current_user, size: 52 %>
    </div>

    <h4 class="user-name"><%= current_user.honorific %> <%= current_user.name %></h4>
  </a>

  <%= render 'shared/stats' %>
</div>