<% # current user gravatar %>
<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 52 %>
</a>

<% # current user name, link to her profile and her posts number %>
<h1><%= current_user.name %></h1>
<span><%= link_to 'View my profile', current_user %></span>
<span><%= pluralize(current_user.posts.count, 'post') %></span>