<% if signed_in? %>
    <div id="dashboard">
      <div class="row">
        <div class="columns large-7 push-5">
          <div class="panel">
            <%= render 'shared/post_form' %>
            <%= render 'shared/feed' %>
          </div>
        </div>

        <aside class="columns large-5 pull-7">
          <section>
            <%= render 'shared/user_info' %>
          </section>

          <section>
            <%= render 'shared/tag_cloud' %>
          </section>

          <section>
            <%= render 'users/suggested_user_index' %>
          </section>
        </aside>
      </div>

      <!--popup following-->
      <div id="fd_modal" class="reveal-modal medium f_modal">
            <h2>Sto seguendo</h2>

        <% if @user.followed_users.count > 0 && !@user.followed_users.count.nil? %>
            <div id="followed_popup">
              <%= render 'users/followed_popup' %>
            </div>
        <% else %>
            <h7 class="nobody"> nessuno</h7>
        <% end %>
        <a class="close-reveal-modal">&#215;</a>
      </div>

      <!--popup followers-->
      <div id="fw_modal" class="reveal-modal medium f_modal">
            <h2>Mi seguono</h2>

        <% if @user.followers.count > 0 && !@user.followers.count.nil? %>
            <div id="followers_popup">
              <%= render 'users/followers_popup' %>
            </div>
        <% else %>
            <h7 class="nobody"> nessuno</h7>
        <% end %>
        <a class="close-reveal-modal">&#215;</a>
      </div>

    </div>

<% end %>