<% #Provide the page title in a symbol to application.html.erb to avoid duplication     %>
<% provide :isPreLogin, true %>


<% if signed_in? %>

    <div id="dashboard">
      <div class="row">
        <aside class="span3">
          <section>
            <%= render 'shared/user_info' %>
          </section>
          <section>
            <%= render 'shared/stats' %>
          </section>
        </aside>
        <div class="span9">
          <%= render 'shared/post_form' %>
          <h3>Wall</h3>
          <%= render 'shared/feed' %>
        </div>
      </div>
    </div>

<% else %>

    <div id="pre-login-home" class="row">
      <div id="welcome" class="large-8 columns">
        <h1 class="logo">episco+</h1>

        <h3 class="motto">
          Il social dei sacerdoti, per i sacerdoti
        </h3>

      </div>
      <div id="sign-area" class="large-4 columns">
        <div id="signin" class="panel">
          <%= render 'sessions/new' %>
        </div>
        <div id='signup' class="panel">
          <h6>Entra nella community</h6>
          <h7 class="subheader">Registrati a episco+</h7>
          <% @user = User.new %>
          <%= render 'users/new', :object => @user %>
        </div>
      </div>
    </div>

<% end %>