<% #Provide the page title in a symbol to application.html.erb to avoid duplication            %>
<% provide :title, 'Omelie' %>

<div class="panel">
  <div class="row">
    <div class="large-5 columns">
      <h1>Omelie</h1></div>

    <div class="large-6 columns">
      <%= foundation_paginate(@sermons) %>
    </div>

    <div class="large-1 columns">
      <%= button_to 'Scrivi', new_sermon_path, :class => 'button small radius', :method => :get %>
    </div>
  </div>

    <div class="row">
    <%= render 'pages/search_form' %>
    <%= link_to '+ info', :class=>"info_dropdown" %>

    <div class="info_dropdown">
      <%= form_tag search_path, method: 'get' %>

          <%= text_field_tag :argument %>

          <div class="columns large-4">
            <%= text_field_tag :type_of_liturgy %>
          </div>
          <div class="columns large-4">
            <%= text_field_tag :day, :class => 'datepicker', placeholder: 'gg/mm/aaaa' %>
          </div>


    </div>


  </div>

  <ul class="users no-bullet">
    <%= render @sermons %>
  </ul>

  <%= foundation_paginate(@sermons) %>
</div>