<% #Provide the page title in a symbol to application.html.erb to avoid duplication                       %>
<% provide :title, 'Omelie' %>

<div class="row">
  <div class="large-7 push-5 columns">
    <%= render 'sermons/search_form' %>

    <div class="panel">
      <% if @title %>
          <h3><%= @title %></h3>
      <% end %>
      <% if @sermons.count > 0 %>
          <ul class="sermons no-bullet">
            <%= render :partial => 'sermons/sermon_preview', :collection => @sermons %>
          </ul>
      <% else %>
          <p>Non ci sono risultati. Prova a cambiare i campi di ricerca!</p>
      <% end %>
      <%= foundation_paginate(@sermons) %>
    </div>
  </div>

  <div class="large-5 pull-7 columns">
    <%= render 'users/most_active' %>
    <%= render 'shared/tag_cloud' %>
    <%= render 'sermons/top_sermons' %>
  </div>
</div>