<% provide :title, 'Scrivi omelia' %>

<div style="max-width: 900px">
  <%= form_for(@sermon) do |f| %>
      <%# TODO Costruire un partial apposito o modificare questo %>
      <%# render 'shared/error_messages' %>

      <%= f.text_field :title, placeholder:'Titolo' %>
      <%= f.text_field :subtitle, placeholder:'Sottotitolo' %>

      <%= f.label 'Tipo di Liturgia', for:'day' %>
      <%= f.text_field :type, placeholder:'Tipo di Liturgia' %>

      <%= f.label 'Giorno della Liturgia', for:'day' %>
      <%= f.text_field :day, type:'date', class:'datepicker' %>
      <%= f.text_area :content %>

      <%= f.submit "Pubblica", :class => 'button small radius' %>
  <% end %>
</div>