<li class="row post">
  <div class="small-2 columns user-image"><%= link_to gravatar_for(post.user), post.user %></div>
  <div class="small-10 columns">
    <%= link_to "#{post.user.honorific}  #{post.user.name} #{post.user.surname}", post.user, class: 'user-name' %>
    <div class="content"><%= post.content %></div>
  <span class="timestamp">
    <%= time_ago_in_words(post.created_at) %> fa
  </span>
    <% if current_user?(post.user) %>
        | <%= link_to image_tag("icon/remove.png"), post, method: :delete, data: {confirm: 'Are you sure?'}, title: post.content %>
    <% end %>
    <div class="buttons-container">
      <%= render :partial => 'likes/like_form', :object => post if signed_in? %>
    </div>
  </div>
</li>