<div class="contain-to-grid">
  <nav class="top-bar" data-options="is_hover:false">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><%= link_to image_tag("logo-episco+-glow.png", :border => 0, :id => 'logo'), root_path %> </h1></li>
      <% if signed_in? %>
          <li class="toggle-topbar menu-icon"><a><span>Menu</span></a></li>
      <% end %>
    </ul>

    <% if signed_in? %>

        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left">
            <li class="divider"></li>
            <%# TODO collegare i pulsanti appena sviluppate le funzionalità %>
            <%# TODO generare icone %>
            <li><%= link_to "Omelie", root_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Breviario", root_path %></li>
            <li class="divider"></li>

          </ul>

          <!-- Right Nav Section -->
          <ul class="right">
            <li class="divider hide-for-small "></li>
            <li><%= link_to "Notifiche", root_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Message", root_path %></li>
            <li class="divider"></li>

            <li>
              <%= link_to current_user do %>
                  <%= gravatar_for current_user, size: 25 %>
                  <%= current_user.honorific %> <%= current_user.name %> <%= current_user.surname %>
              <% end %>
            </li>

            <li class="has-dropdown settings"><a class="icon-anchor">Impostazioni</a>
              <ul class="dropdown">
                <li><%= link_to "Esci", signout_path, method: "delete" %></li>
              </ul>
            </li>

            <li class="divider"></li>
            <li class="has-form top-search"><%= render 'users/search_form' %></li>
            <li class="divider show-for-small"></li>

          </ul>
        </section>

    <% end %>
  </nav>
</div>