<!DOCTYPE html>
<html>
<head>
  <title>Episcoplus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim'  %>
</head>
<body>
<header>
  <%= render 'layouts/header'  %>
</header>

<div class="container">
  <%= yield %>

  <footer class="footer">
    <%= render 'layouts/footer' %>
  </footer>

</div>


<%= debug(@user) %>


</body>
</html>
