<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= favicon_link_tag("favicon.ico") %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= javascript_include_tag "vendor/custom.modernizr" %>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>

<!--container = blocca il footer a fondo pagina-->
<div class="container">

  <% if !welcome? (yield(:isWelcome)) %>

      <header>
        <%= render 'layouts/header' %>
      </header>

      <div class="wrapper columns">
  <% end %>

  <div class="flashes">
    <% # the flash message; it supports different type of communications        %>
    <% flash.each do |key, value| %>
        <div data-alert class="alert-box <%= key %>"><%= value %><%= link_to image_tag("icon/close.png"), "#", :class => "close" %></div>
    <% end %>
  </div>

  <%= yield %>

  <% if !welcome? (yield(:isWelcome)) %>
      </div>
  <% end %>


  <div class="clearfooter"></div>
  <!--end container-->
</div>

<footer class="row">
  <%= render 'layouts/footer' %>
</footer>

<%#= debug(@user) %>


</body>
</html>